<html>

<head>
</head>
<body>
	<b>Tus Datos han sido enviados </b>
	<br />
	<b>Username : <%=@username%></b>	
	<br />
	<b>Nombre : <%=@nombre%></b>	
	<br />
	<b>Ap. Paterno : <%=@paterno%></b>	
	<br />
	<b>Ap. Materno : <%=@materno%></b>	

</body>

</html>